<div class="container text-center bg-dark p-5 border-r">
    <h1 class="text-success fw-bold mb-4">Sobre mi</h1>
    <p class="text-light">Soy desarrollador con experiencia en Java, Spring Boot y Angular. Me apasiona crear soluciones eficientes y escalables, aplicando buenas prácticas de desarrollo y manteniéndome en constante aprendizaje.</p>
    <p class="text-light">He trabajado en mesa de ayuda y he realizado tareas de desarrollo, lo que me ha permitido comprender tanto el soporte técnico como la implementación de software. Mi enfoque está en el desarrollo backend, utilizando tecnologías como Java, Hibernate y microservicios para construir aplicaciones robustas y funcionales.</p>
</div>