<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="text-light text-center">
    <h1 class="fs4">Hola, soy Gustavo Farías</h1>
    <h4 class="mt-3">Desarrollador Backend | Java, Spring Boot, Angular</h4>
    <div class="d-grid gap-2 d-md-flex justify-content-center">
        <a href="https://www.linkedin.com/in/gustavoef" target="_blank" style="font-size: 40px;">
          <i class="devicon-linkedin-plain"></i>
        </a>
        <a href="https://www.github.com/fariasgustavo313" target="_blank"  style="font-size: 40px;">
          <i class="devicon-github-original"></i>
        </a>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto">
        <a class="btn btn-success mt-3 p-3 fs-5" href="../../../../Farias Gustavo CV- Desarrollador.pdf" download="Farias_Gustavo_Desarrollador_CV.pdf">Descargar CV</a>
    </div>
  </div>
</div>